# torch
--extra-index-url https://download.pytorch.org/whl/cu118
torch

# audio
pyaudio~=0.2.13
SpeechRecognition~=3.10.0
soundfile~=0.12.1

# openai-whisper
openai-whisper==20230918

# faster-whisper
faster-whisper~=0.9.0

# whisper.cpp
whisper-cpp-python==0.2.0
whispercpp~=0.0.17

# ui
rich~=13.6.0

# osc
python-osc~=1.8.3